<html>

<body>

<p>Container Virtual CPUs: {{ansible_processor_vcpus}}</p>
<p>Container Cores per CPU: {{ansible_processor_cores}}</p>
<p>Container Memory size: {{ansible_memtotal_mb}} MB</p>
<p>Container Disk size: {{ansible_devices.vda.size}}</p>

</body>


</html>